<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ceuMassMediator" version="3.1" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CeuMassMediator-PrimefacesWebApplication</display-name>
    <description>
        This is version 2.0 of Ceu Mass Mediator to perform
        a identificacion of metabolites, based on servlets and
        XHTML pages.  It was written by Alberto Gil de la Fuente
        (alberto.gilf@gmail.com), who should be contacted for
        more information.
    </description>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadExcelServlet</servlet-name>
        <servlet-class>DownloadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCompoundsExcelServlet</servlet-name>
        <servlet-class>DownloadCompoundsExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/sessionExpired.xhtml</location>
    </error-page>
    <ejb-local-ref>
        <ejb-ref-name>theoreticalCompoundsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#TheoreticalCompoundsFacade</ejb-link>
    </ejb-local-ref>
    <resource-ref>
        <description>Compounds Datasource</description>
        <res-ref-name>jdbc/newDataModel</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
